#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	# Install main script
	mkdir -p debian/fancy-tar/usr/bin
	cp scripts/fancy_tar_progress.sh debian/fancy-tar/usr/bin/fancy-tar
	chmod 755 debian/fancy-tar/usr/bin/fancy-tar
	# Install man page
	mkdir -p debian/fancy-tar/usr/share/man/man1
	cp docs/fancy-tar.1 debian/fancy-tar/usr/share/man/man1/
	gzip -9 debian/fancy-tar/usr/share/man/man1/fancy-tar.1
	# Install completions
	mkdir -p debian/fancy-tar/usr/share/bash-completion/completions
	mkdir -p debian/fancy-tar/usr/share/zsh/vendor-completions
	mkdir -p debian/fancy-tar/usr/share/fish/vendor_completions.d
	cp completions/fancy-tar.bash debian/fancy-tar/usr/share/bash-completion/completions/fancy-tar
	cp completions/fancy-tar.zsh debian/fancy-tar/usr/share/zsh/vendor-completions/_fancy-tar
	cp completions/fancy-tar.fish debian/fancy-tar/usr/share/fish/vendor_completions.d/fancy-tar.fish 